In [1]:
import pandas as pd

In [2]:
movie_lines_Data= pd.read_csv("movie_lines.tsv") #if loaded as it is then format get disturbed

In [3]:
movie_lines_Data

                      L1045\tu0\tm0\tBIANCA\tThey do not!
0                     L1044\tu2\tm0\tCAMERON\tThey do to!
1                        L985\tu0\tm0\tBIANCA\tI hope so.
2                        L984\tu2\tm0\tCAMERON\tShe okay?
3                         L925\tu0\tm0\tBIANCA\tLet's go.
4                              L924\tu2\tm0\tCAMERON\tWow
...                                                   ...
293362  L666371\tu9030\tm616\tDURNFORD\tLord Chelmsfor...
293363  L666370\tu9034\tm616\tVEREKER\tI'm to take the...
293364  L666369\tu9030\tm616\tDURNFORD\tYour orders Mr...
293365  L666257\tu9030\tm616\tDURNFORD\tGood ones yes ...
293366  L666256\tu9034\tm616\tVEREKER\tColonel Durnfor...

[293367 rows x 1 columns]

In [4]:
movie_lines_Data= pd.read_csv("movie_lines.tsv",sep='\t', error_bad_lines=False, warn_bad_lines=True, header=None)

b'Skipping line 32288: expected 5 fields, saw 7\nSkipping line 32351: expected 5 fields, saw 6\nSkipping line 32390: expected 5 fields, saw 6\nSkipping line 32583: expected 5 fields, saw 6\nSkipping line 32585: expected 5 fields, saw 6\nSkipping line 35684: expected 5 fields, saw 6\nSkipping line 62132: expected 5 fields, saw 6\nSkipping line 86637: expected 5 fields, saw 6\nSkipping line 86722: expected 5 fields, saw 6\nSkipping line 86914: expected 5 fields, saw 6\nSkipping line 86960: expected 5 fields, saw 6\nSkipping line 87010: expected 5 fields, saw 6\nSkipping line 87011: expected 5 fields, saw 6\nSkipping line 87086: expected 5 fields, saw 6\nSkipping line 120607: expected 5 fields, saw 6\nSkipping line 120719: expected 5 fields, saw 7\nSkipping line 120739: expected 5 fields, saw 6\nSkipping line 120783: expected 5 fields, saw 6\nSkipping line 130284: expected 5 fields, saw 7\nSkipping line 131048: expected 5 fields, saw 6\n'
b'Skipping line 150955: expected 5 fields, saw 8\nSkipping line 162777: expected 5 fields, saw 11\nSkipping line 162778: expected 5 fields, saw 11\nSkipping line 162830: expected 5 fields, saw 9\nSkipping line 162864: expected 5 fields, saw 11\nSkipping line 162883: expected 5 fields, saw 8\nSkipping line 190170: expected 5 fields, saw 6\nSkipping line 195924: expected 5 fields, saw 6\nSkipping line 196054: expected 5 fields, saw 6\nSkipping line 196088: expected 5 fields, saw 6\nSkipping line 200335: expected 5 fields, saw 6\nSkipping line 200453: expected 5 fields, saw 6\nSkipping line 200863: expected 5 fields, saw 6\nSkipping line 200913: expected 5 fields, saw 6\nSkipping line 200934: expected 5 fields, saw 6\nSkipping line 200991: expected 5 fields, saw 6\nSkipping line 209214: expected 5 fields, saw 6\nSkipping line 209271: expected 5 fields, saw 6\nSkipping line 212476: expected 5 fields, saw 17\nSkipping line 212477: expected 5 fields, saw 12\nSkipping line 212490: expected 5 fields, saw 12\nSkipping line 212493: expected 5 fields, saw 10\nSkipping line 212514: expected 5 fields, saw 9\nSkipping line 212515: expected 5 fields, saw 12\nSkipping line 212556: expected 5 fields, saw 12\nSkipping line 212562: expected 5 fields, saw 8\nSkipping line 212567: expected 5 fields, saw 12\nSkipping line 212575: expected 5 fields, saw 12\nSkipping line 212582: expected 5 fields, saw 14\nSkipping line 212595: expected 5 fields, saw 11\nSkipping line 212600: expected 5 fields, saw 8\nSkipping line 212652: expected 5 fields, saw 11\nSkipping line 212655: expected 5 fields, saw 8\nSkipping line 212696: expected 5 fields, saw 9\nSkipping line 212700: expected 5 fields, saw 35\nSkipping line 212704: expected 5 fields, saw 9\nSkipping line 212736: expected 5 fields, saw 26\nSkipping line 212737: expected 5 fields, saw 12\nSkipping line 212738: expected 5 fields, saw 34\nSkipping line 212740: expected 5 fields, saw 7\nSkipping line 212741: expected 5 fields, saw 11\nSkipping line 212742: expected 5 fields, saw 11\nSkipping line 212743: expected 5 fields, saw 12\nSkipping line 212744: expected 5 fields, saw 11\nSkipping line 212745: expected 5 fields, saw 10\nSkipping line 212746: expected 5 fields, saw 17\nSkipping line 212747: expected 5 fields, saw 10\nSkipping line 212748: expected 5 fields, saw 21\nSkipping line 212749: expected 5 fields, saw 14\nSkipping line 212755: expected 5 fields, saw 9\nSkipping line 212756: expected 5 fields, saw 10\nSkipping line 212757: expected 5 fields, saw 14\nSkipping line 212758: expected 5 fields, saw 10\nSkipping line 212759: expected 5 fields, saw 7\nSkipping line 212760: expected 5 fields, saw 17\nSkipping line 212768: expected 5 fields, saw 9\nSkipping line 212774: expected 5 fields, saw 12\nSkipping line 212775: expected 5 fields, saw 11\nSkipping line 212784: expected 5 fields, saw 11\nSkipping line 212790: expected 5 fields, saw 29\nSkipping line 212791: expected 5 fields, saw 12\nSkipping line 212888: expected 5 fields, saw 12\nSkipping line 212895: expected 5 fields, saw 7\nSkipping line 212901: expected 5 fields, saw 8\nSkipping line 212909: expected 5 fields, saw 21\nSkipping line 212910: expected 5 fields, saw 19\nSkipping line 212912: expected 5 fields, saw 19\nSkipping line 212913: expected 5 fields, saw 14\nSkipping line 212914: expected 5 fields, saw 19\nSkipping line 212915: expected 5 fields, saw 19\nSkipping line 212916: expected 5 fields, saw 12\nSkipping line 212918: expected 5 fields, saw 18\nSkipping line 220002: expected 5 fields, saw 6\nSkipping line 223476: expected 5 fields, saw 6\nSkipping line 223670: expected 5 fields, saw 6\nSkipping line 227241: expected 5 fields, saw 6\nSkipping line 227687: expected 5 fields, saw 6\nSkipping line 227795: expected 5 fields, saw 6\nSkipping line 227850: expected 5 fields, saw 6\nSkipping line 228956: expected 5 fields, saw 6\nSkipping line 229142: expected 5 fields, saw 6\nSkipping line 229252: expected 5 fields, saw 6\nSkipping line 229283: expected 5 fields, saw 6\nSkipping line 229343: expected 5 fields, saw 6\nSkipping line 237190: expected 5 fields, saw 6\nSkipping line 237212: expected 5 fields, saw 6\nSkipping line 237475: expected 5 fields, saw 6\nSkipping line 237680: expected 5 fields, saw 6\nSkipping line 239909: expected 5 fields, saw 6\nSkipping line 242513: expected 5 fields, saw 6\nSkipping line 242621: expected 5 fields, saw 6\nSkipping line 252471: expected 5 fields, saw 10\nSkipping line 254823: expected 5 fields, saw 6\nSkipping line 257362: expected 5 fields, saw 6\nSkipping line 260304: expected 5 fields, saw 11\nSkipping line 261241: expected 5 fields, saw 11\nSkipping line 261309: expected 5 fields, saw 6\nSkipping line 261343: expected 5 fields, saw 6\nSkipping line 261432: expected 5 fields, saw 6\nSkipping line 261461: expected 5 fields, saw 6\nSkipping line 261520: expected 5 fields, saw 14\nSkipping line 261521: expected 5 fields, saw 13\nSkipping line 261525: expected 5 fields, saw 13\nSkipping line 261533: expected 5 fields, saw 6\nSkipping line 261558: expected 5 fields, saw 7\nSkipping line 261560: expected 5 fields, saw 7\nSkipping line 262063: expected 5 fields, saw 6\nSkipping line 262098: expected 5 fields, saw 6\n'
b'Skipping line 269343: expected 5 fields, saw 6\nSkipping line 269435: expected 5 fields, saw 6\nSkipping line 278994: expected 5 fields, saw 9\nSkipping line 278995: expected 5 fields, saw 9\nSkipping line 278996: expected 5 fields, saw 15\nSkipping line 279001: expected 5 fields, saw 15\nSkipping line 279038: expected 5 fields, saw 16\nSkipping line 279040: expected 5 fields, saw 10\nSkipping line 279041: expected 5 fields, saw 19\nSkipping line 279045: expected 5 fields, saw 13\nSkipping line 279047: expected 5 fields, saw 9\nSkipping line 279058: expected 5 fields, saw 10\nSkipping line 279069: expected 5 fields, saw 11\nSkipping line 279087: expected 5 fields, saw 11\nSkipping line 279094: expected 5 fields, saw 12\nSkipping line 279116: expected 5 fields, saw 22\nSkipping line 279131: expected 5 fields, saw 16\nSkipping line 279152: expected 5 fields, saw 10\nSkipping line 279155: expected 5 fields, saw 19\nSkipping line 279159: expected 5 fields, saw 9\nSkipping line 279199: expected 5 fields, saw 36\nSkipping line 279211: expected 5 fields, saw 9\nSkipping line 279213: expected 5 fields, saw 13\nSkipping line 279214: expected 5 fields, saw 9\nSkipping line 279233: expected 5 fields, saw 14\nSkipping line 279253: expected 5 fields, saw 15\nSkipping line 279345: expected 5 fields, saw 13\nSkipping line 279346: expected 5 fields, saw 10\nSkipping line 279379: expected 5 fields, saw 9\nSkipping line 279434: expected 5 fields, saw 17\nSkipping line 279440: expected 5 fields, saw 14\nSkipping line 279442: expected 5 fields, saw 14\nSkipping line 279443: expected 5 fields, saw 10\nSkipping line 279452: expected 5 fields, saw 16\nSkipping line 279455: expected 5 fields, saw 9\nSkipping line 279456: expected 5 fields, saw 12\nSkipping line 279457: expected 5 fields, saw 10\nSkipping line 279458: expected 5 fields, saw 10\n'

In [5]:
movie_lines_Data #loaded dataset with no header as first line and removing bad lines

,0,1,2,3,4
0,L1045,u0,m0,BIANCA,They do not!
1,L1044,u2,m0,CAMERON,They do to!
2,L985,u0,m0,BIANCA,I hope so.
3,L984,u2,m0,CAMERON,She okay?
4,L925,u0,m0,BIANCA,Let's go.
...,...,...,...,...,...
293197,L666371,u9030,m616,DURNFORD,Lord Chelmsford seems to want me to stay back ...
293198,L666370,u9034,m616,VEREKER,I'm to take the Sikali with the main column to...
293199,L666369,u9030,m616,DURNFORD,Your orders Mr Vereker?
293200,L666257,u9030,m616,DURNFORD,Good ones yes Mr Vereker. Gentlemen who can ri...
293201,L666256,u9034,m616,VEREKER,Colonel Durnford... William Vereker. I hear yo...

In [6]:
movie_lines_Data.head(20)

,0,1,2,3,4
0,L1045,u0,m0,BIANCA,They do not!
1,L1044,u2,m0,CAMERON,They do to!
2,L985,u0,m0,BIANCA,I hope so.
3,L984,u2,m0,CAMERON,She okay?
4,L925,u0,m0,BIANCA,Let's go.
5,L924,u2,m0,CAMERON,Wow
6,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.
7,L871,u2,m0,CAMERON,No
8,L870\tu0\tm0\tBIANCA\tI'm kidding. You know h...,NaN,NaN,NaN,NaN
9,L869,u0,m0,BIANCA,Like my fear of wearing pastels?
10,"L868\tu2\tm0\tCAMERON\tThe ""real you"".",NaN,NaN,NaN,NaN
11,L867,u0,m0,BIANCA,What good stuff?
12,L866,u2,m0,CAMERON,I figured you'd get to the good stuff eventually.
13,L865,u2,m0,CAMERON,Thank God! If I had to hear one more story ab...
14,L864,u0,m0,BIANCA,Me. This endless ...blonde babble. I'm like b...
15,L863,u2,m0,CAMERON,What crap?
16,L862,u0,m0,BIANCA,do you listen to this crap?
17,L861,u2,m0,CAMERON,No...
18,"L860\tu0\tm0\tBIANCA\tThen Guillermo says ""If ...",NaN,NaN,NaN,NaN
19,L699,u2,m0,CAMERON,You always been this selfish?

In [9]:
movie_character_Data=pd.read_csv("movie_characters_metadata.tsv",sep='\t', error_bad_lines=False, warn_bad_lines=True, header=None)

b'Skipping line 6565: expected 6 fields, saw 13\n'

In [10]:
movie_character_Data

          0              1     2                           3  4  5
0        u0         BIANCA    m0  10 things i hate about you  f  4
1        u1          BRUCE    m0  10 things i hate about you  ?  ?
2        u2        CAMERON    m0  10 things i hate about you  m  3
3        u3       CHASTITY    m0  10 things i hate about you  ?  ?
4        u4           JOEY    m0  10 things i hate about you  m  6
...     ...            ...   ...                         ... .. ..
9029  u9030       DURNFORD  m616                   zulu dawn  ?  ?
9030  u9031        MELVILL  m616                   zulu dawn  ?  ?
9031  u9032  NORRIS-NEWMAN  m616                   zulu dawn  ?  ?
9032  u9033   STUART SMITH  m616                   zulu dawn  ?  ?
9033  u9034        VEREKER  m616                   zulu dawn  ?  ?

[9034 rows x 6 columns]

In [11]:
movie_character_Data.head(20)

      0           1   2                           3  4  5
0    u0      BIANCA  m0  10 things i hate about you  f  4
1    u1       BRUCE  m0  10 things i hate about you  ?  ?
2    u2     CAMERON  m0  10 things i hate about you  m  3
3    u3    CHASTITY  m0  10 things i hate about you  ?  ?
4    u4        JOEY  m0  10 things i hate about you  m  6
5    u5         KAT  m0  10 things i hate about you  f  2
6    u6    MANDELLA  m0  10 things i hate about you  f  7
7    u7     MICHAEL  m0  10 things i hate about you  m  5
8    u8  MISS PERKY  m0  10 things i hate about you  ?  ?
9    u9     PATRICK  m0  10 things i hate about you  m  1
10  u10      SHARON  m0  10 things i hate about you  ?  ?
11  u11      WALTER  m0  10 things i hate about you  m  9
12  u12      ALONSO  m1  1492: conquest of paradise  ?  ?
13  u13      AROJAZ  m1  1492: conquest of paradise  ?  ?
14  u14     BEATRIX  m1  1492: conquest of paradise  ?  ?
15  u15   BOBADILLA  m1  1492: conquest of paradise  ?  ?
16  u16    COLUMBUS  m1  1492: conquest of paradise  m  1
17  u17    FERNANDO  m1  1492: conquest of paradise  ?  ?
18  u18      ISABEL  m1  1492: conquest of paradise  ?  ?
19  u19    MARCHENA  m1  1492: conquest of paradise  m  6

In [12]:
movie_lines_Data.columns=['lineID', 'characterID', 'movieID', 'character_name', 'text_of_the_utterance']

In [13]:
movie_lines_Data.head()

  lineID characterID movieID character_name text_of_the_utterance
0  L1045          u0      m0         BIANCA          They do not!
1  L1044          u2      m0        CAMERON           They do to!
2   L985          u0      m0         BIANCA            I hope so.
3   L984          u2      m0        CAMERON             She okay?
4   L925          u0      m0         BIANCA             Let's go.

In [14]:
movie_character_Data.columns=['characterID', 'character_name', 'movieID', 'movie_title', 'gender', 'position_in_credits']

In [15]:
movie_character_Data.head()

,characterID,character_name,movieID,movie_title,gender,position_in_credits
0,u0,BIANCA,m0,10 things i hate about you,f,4
1,u1,BRUCE,m0,10 things i hate about you,?,?
2,u2,CAMERON,m0,10 things i hate about you,m,3
3,u3,CHASTITY,m0,10 things i hate about you,?,?
4,u4,JOEY,m0,10 things i hate about you,m,6

In [16]:
movie_character_Data.gender.count() #counting number of rows in gender column

9017

In [17]:
movie_character_Data.gender.values #displaying different values in gender column

array(['f', '?', 'm', ..., '?', '?', '?'], dtype=object)

In [18]:
movie_character_Data.gender.value_counts() #different values and corresponding count of different genders

?    6008
m    1899
f     921
M     145
F      44
Name: gender, dtype: int64

In [19]:
movie_character_Data['gender'].replace('?', 'F', inplace=True) #requires preprocessing the gender column, replacing ? with F

In [20]:
movie_character_Data.gender.value_counts()

F    6052
m    1899
f     921
M     145
Name: gender, dtype: int64

In [21]:
movie_character_Data['gender'].replace('f', 'F', inplace=True)

In [22]:
movie_character_Data.gender.value_counts()

F    6973
m    1899
M     145
Name: gender, dtype: int64

In [23]:
movie_character_Data['gender'].replace('m', 'M', inplace=True)

In [24]:
movie_character_Data.gender.value_counts()

F    6973
M    2044
Name: gender, dtype: int64

In [25]:
lines_characters_Data = pd.merge(movie_lines_Data, movie_character_Data,  on=['characterID', 'character_name', 'movieID'],  sort=True )

In [26]:
lines_characters_Data

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,F,4
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,F,4
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,F,4
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,F,4
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,F,4
...,...,...,...,...,...,...,...,...
288442,L227496,u998,m65,KATE,-- you got your microwave --,from dusk till dawn,F,4
288443,L227595,u999,m65,KELLY HOUGE,Is it safe to assume that because the death co...,from dusk till dawn,F,?
288444,L227593,u999,m65,KELLY HOUGE,What about the report from an eyewitness at th...,from dusk till dawn,F,?
288445,L227591,u999,m65,KELLY HOUGE,Are you optimistic about the safety of the hos...,from dusk till dawn,F,?
288446,L227589,u999,m65,KELLY HOUGE,Agent Chase does it appear that they are headi...,from dusk till dawn,F,?

In [27]:
lines_characters_Data.notna() #showing false for NA values in dataset

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
288442,True,True,True,True,True,True,True,True
288443,True,True,True,True,True,True,True,True
288444,True,True,True,True,True,True,True,True
288445,True,True,True,True,True,True,True,True
288446,True,True,True,True,True,True,True,True

In [28]:
lines_characters_Data.notnull() #showing false for NULL values in dataset

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
288442,True,True,True,True,True,True,True,True
288443,True,True,True,True,True,True,True,True
288444,True,True,True,True,True,True,True,True
288445,True,True,True,True,True,True,True,True
288446,True,True,True,True,True,True,True,True

In [29]:
lines_characters_Data

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,F,4
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,F,4
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,F,4
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,F,4
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,F,4
...,...,...,...,...,...,...,...,...
288442,L227496,u998,m65,KATE,-- you got your microwave --,from dusk till dawn,F,4
288443,L227595,u999,m65,KELLY HOUGE,Is it safe to assume that because the death co...,from dusk till dawn,F,?
288444,L227593,u999,m65,KELLY HOUGE,What about the report from an eyewitness at th...,from dusk till dawn,F,?
288445,L227591,u999,m65,KELLY HOUGE,Are you optimistic about the safety of the hos...,from dusk till dawn,F,?
288446,L227589,u999,m65,KELLY HOUGE,Agent Chase does it appear that they are headi...,from dusk till dawn,F,?

In [30]:
lines_characters_Data['gender'].replace('F', 0, inplace=True) #need to encode the gender feature so female by 0

In [31]:
lines_characters_Data['gender'].replace('M', 1,inplace=True)#need to encode the gender feature so  male by 1

In [32]:
lines_characters_Data

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,0,4
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,0,4
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,0,4
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,0,4
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,0,4
...,...,...,...,...,...,...,...,...
288442,L227496,u998,m65,KATE,-- you got your microwave --,from dusk till dawn,0,4
288443,L227595,u999,m65,KELLY HOUGE,Is it safe to assume that because the death co...,from dusk till dawn,0,?
288444,L227593,u999,m65,KELLY HOUGE,What about the report from an eyewitness at th...,from dusk till dawn,0,?
288445,L227591,u999,m65,KELLY HOUGE,Are you optimistic about the safety of the hos...,from dusk till dawn,0,?
288446,L227589,u999,m65,KELLY HOUGE,Agent Chase does it appear that they are headi...,from dusk till dawn,0,?

In [33]:
lines_characters_Data['position_in_credits'].replace('?', 10, inplace=True) #this column also have ? entries need to preprocess it

In [34]:
lines_characters_Data

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,0,4
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,0,4
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,0,4
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,0,4
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,0,4
...,...,...,...,...,...,...,...,...
288442,L227496,u998,m65,KATE,-- you got your microwave --,from dusk till dawn,0,4
288443,L227595,u999,m65,KELLY HOUGE,Is it safe to assume that because the death co...,from dusk till dawn,0,10
288444,L227593,u999,m65,KELLY HOUGE,What about the report from an eyewitness at th...,from dusk till dawn,0,10
288445,L227591,u999,m65,KELLY HOUGE,Are you optimistic about the safety of the hos...,from dusk till dawn,0,10
288446,L227589,u999,m65,KELLY HOUGE,Agent Chase does it appear that they are headi...,from dusk till dawn,0,10

In [35]:
lines_characters_Data['text_utter_length'] = lines_characters_Data.text_of_the_utterance.str.len() #adding new column to dataset with total number of letters including white spaces

In [36]:
lines_characters_Data

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits,text_utter_length
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,0,4,12.0
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,0,4,10.0
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,0,4,9.0
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,0,4,46.0
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,0,4,32.0
...,...,...,...,...,...,...,...,...,...
288442,L227496,u998,m65,KATE,-- you got your microwave --,from dusk till dawn,0,4,28.0
288443,L227595,u999,m65,KELLY HOUGE,Is it safe to assume that because the death co...,from dusk till dawn,0,10,192.0
288444,L227593,u999,m65,KELLY HOUGE,What about the report from an eyewitness at th...,from dusk till dawn,0,10,99.0
288445,L227591,u999,m65,KELLY HOUGE,Are you optimistic about the safety of the hos...,from dusk till dawn,0,10,84.0
288446,L227589,u999,m65,KELLY HOUGE,Agent Chase does it appear that they are headi...,from dusk till dawn,0,10,60.0

In [37]:
lines_characters_Data['text_No_of_words'] = lines_characters_Data.text_of_the_utterance.str.count(" ")+1  #adding new column to dataset with total number of words in line

In [38]:
lines_characters_Data

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits,text_utter_length,text_No_of_words
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,0,4,12.0,3.0
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,0,4,10.0,3.0
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,0,4,9.0,2.0
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,0,4,46.0,10.0
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,0,4,32.0,6.0
...,...,...,...,...,...,...,...,...,...,...
288442,L227496,u998,m65,KATE,-- you got your microwave --,from dusk till dawn,0,4,28.0,6.0
288443,L227595,u999,m65,KELLY HOUGE,Is it safe to assume that because the death co...,from dusk till dawn,0,10,192.0,34.0
288444,L227593,u999,m65,KELLY HOUGE,What about the report from an eyewitness at th...,from dusk till dawn,0,10,99.0,19.0
288445,L227591,u999,m65,KELLY HOUGE,Are you optimistic about the safety of the hos...,from dusk till dawn,0,10,84.0,15.0
288446,L227589,u999,m65,KELLY HOUGE,Agent Chase does it appear that they are headi...,from dusk till dawn,0,10,60.0,11.0

In [39]:
lines_characters_Data=lines_characters_Data[lines_characters_Data['text_of_the_utterance'].notnull()] #removing null rows from dataset for this column

In [40]:
lines_characters_Data.shape

(288193, 10)

In [41]:
#as feaures are numerical as well as strings so require to convert them to numerical
#so we require some NLP related packages to preprocess the same
import re
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Pankaj_Kasar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Pankaj_Kasar\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [42]:
#here we are cleaning the text message by converting to small case, removing stop words like I, we, the etc., 
#doing some Lemmatization: convert words to their original form eg. talks--->talk
#also cleans the texts by removing ?, !, "",'' etc.
clean_text_utter = WordNetLemmatizer()
def clean_text(text_of_the_utterance):
    letters_only = re.sub("[^a-zA-Z]", " ", text_of_the_utterance)
    words = letters_only.lower().split()
    stops = set(stopwords.words("english")) 
    meaningful_words = [clean_text_utter.lemmatize(w) for w in words if not w in stops]   
    return( " ".join( meaningful_words ))
lines_characters_Data['clean_text'] = lines_characters_Data['text_of_the_utterance'].apply(clean_text)
#displaying some sample data after cleaning
lines_characters_Data[['text_of_the_utterance','clean_text']].sample(5)

C:\Users\Pankaj_Kasar\.conda\envs\dl\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,text_of_the_utterance,clean_text
273238,This one's history. Moving on...,one history moving
75357,No I did not. I did not kill Freddie Miles and...,kill freddie mile kill dickie greenleaf accusi...
100119,You want'a surf soldier?,want surf soldier
145938,What's this?,
209582,What are the choices?,choice

In [43]:
lines_characters_Data

,lineID,characterID,movieID,character_name,text_of_the_utterance,movie_title,gender,position_in_credits,text_utter_length,text_No_of_words,clean_text
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,0,4,12.0,3.0,
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,0,4,10.0,3.0,hope
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,0,4,9.0,2.0,let go
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,0,4,46.0,10.0,okay gonna need learn lie
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,0,4,32.0,6.0,like fear wearing pastel
...,...,...,...,...,...,...,...,...,...,...,...
288442,L227496,u998,m65,KATE,-- you got your microwave --,from dusk till dawn,0,4,28.0,6.0,got microwave
288443,L227595,u999,m65,KELLY HOUGE,Is it safe to assume that because the death co...,from dusk till dawn,0,10,192.0,34.0,safe assume death count involved loss life law...
288444,L227593,u999,m65,KELLY HOUGE,What about the report from an eyewitness at th...,from dusk till dawn,0,10,99.0,19.0,report eyewitness liquor store said one brothe...
288445,L227591,u999,m65,KELLY HOUGE,Are you optimistic about the safety of the hos...,from dusk till dawn,0,10,84.0,15.0,optimistic safety hostage took abilene gloria ...
288446,L227589,u999,m65,KELLY HOUGE,Agent Chase does it appear that they are headi...,from dusk till dawn,0,10,60.0,11.0,agent chase appear heading mexico

In [44]:
lines_characters_Data.shape

(288193, 11)

In [45]:
lines_characters_Data=lines_characters_Data.drop('text_of_the_utterance',axis=1) #do not require now

In [46]:
lines_characters_Data

,lineID,characterID,movieID,character_name,movie_title,gender,position_in_credits,text_utter_length,text_No_of_words,clean_text
0,L1045,u0,m0,BIANCA,10 things i hate about you,0,4,12.0,3.0,
1,L985,u0,m0,BIANCA,10 things i hate about you,0,4,10.0,3.0,hope
2,L925,u0,m0,BIANCA,10 things i hate about you,0,4,9.0,2.0,let go
3,L872,u0,m0,BIANCA,10 things i hate about you,0,4,46.0,10.0,okay gonna need learn lie
4,L869,u0,m0,BIANCA,10 things i hate about you,0,4,32.0,6.0,like fear wearing pastel
...,...,...,...,...,...,...,...,...,...,...
288442,L227496,u998,m65,KATE,from dusk till dawn,0,4,28.0,6.0,got microwave
288443,L227595,u999,m65,KELLY HOUGE,from dusk till dawn,0,10,192.0,34.0,safe assume death count involved loss life law...
288444,L227593,u999,m65,KELLY HOUGE,from dusk till dawn,0,10,99.0,19.0,report eyewitness liquor store said one brothe...
288445,L227591,u999,m65,KELLY HOUGE,from dusk till dawn,0,10,84.0,15.0,optimistic safety hostage took abilene gloria ...
288446,L227589,u999,m65,KELLY HOUGE,from dusk till dawn,0,10,60.0,11.0,agent chase appear heading mexico

In [47]:
#from this dataset now for training we are accomodating movie information on following columns as having multiple etries
#also combining them eg. character text, total no. of character Ids, character names etc.,
train = lines_characters_Data.groupby(['characterID', 'movieID', 'character_name', 'gender', 'position_in_credits']). \
            agg({'text_utter_length' : ['median'], 
                 'text_No_of_words' : ['median'],
                 'characterID' : ['count'],
                 'clean_text' : [lambda x : ' '.join(x)]
                })
train.columns = ["_".join(x) for x in train.columns.ravel()]#to write column name as per format
train.reset_index(inplace=True) #to resume the already available column indexes like characterID,movieID etc.

In [48]:
train

,characterID,movieID,character_name,gender,position_in_credits,text_utter_length_median,text_No_of_words_median,characterID_count,clean_text_<lambda>
0,u0,m0,BIANCA,0,4,34.0,7.0,94,hope let go okay gonna need learn lie like fe...
1,u1,m0,BRUCE,0,10,22.0,4.0,3,sent em never pegged gigglepuss fan little pre...
2,u10,m0,SHARON,0,10,24.0,5.0,9,absolutely daughter went prom great time honey...
3,u100,m6,AMY,0,7,23.0,4.0,31,died sleep three day ago paper tom dead calli...
4,u1000,m65,MCGRAW,0,10,139.0,29.0,9,yeah gonna right back tomorrow tonight gonna s...
...,...,...,...,...,...,...,...,...,...
8741,u995,m65,BORDER GUARD,0,10,31.0,6.0,5,open door coming aboard said son purpose mexi...
8742,u996,m65,CARLOS,0,10,39.0,7.5,10,vamanos yeah follow u hardly used got drug dea...
8743,u997,m65,JACOB,1,1,36.0,6.0,90,meant son daughter oh daughter bathroom vacati...
8744,u998,m65,KATE,0,4,20.0,4.5,44,everybody go home going em swear god father ch...
8745,u999,m65,KELLY HOUGE,0,10,91.5,17.0,4,safe assume death count involved loss life law...

In [49]:
train.columns

Index(['characterID', 'movieID', 'character_name', 'gender',
       'position_in_credits', 'text_utter_length_median',
       'text_No_of_words_median', 'characterID_count', 'clean_text_<lambda>'],
      dtype='object')

In [50]:
train=train.drop('characterID', axis=1)
train=train.drop('movieID', axis=1)
train=train.drop('character_name', axis=1)

In [51]:
train

,gender,position_in_credits,text_utter_length_median,text_No_of_words_median,characterID_count,clean_text_<lambda>
0,0,4,34.0,7.0,94,hope let go okay gonna need learn lie like fe...
1,0,10,22.0,4.0,3,sent em never pegged gigglepuss fan little pre...
2,0,10,24.0,5.0,9,absolutely daughter went prom great time honey...
3,0,7,23.0,4.0,31,died sleep three day ago paper tom dead calli...
4,0,10,139.0,29.0,9,yeah gonna right back tomorrow tonight gonna s...
...,...,...,...,...,...,...
8741,0,10,31.0,6.0,5,open door coming aboard said son purpose mexi...
8742,0,10,39.0,7.5,10,vamanos yeah follow u hardly used got drug dea...
8743,1,1,36.0,6.0,90,meant son daughter oh daughter bathroom vacati...
8744,0,4,20.0,4.5,44,everybody go home going em swear god father ch...
8745,0,10,91.5,17.0,4,safe assume death count involved loss life law...

In [52]:
X=train.drop('gender',axis=1)

In [53]:
X

,position_in_credits,text_utter_length_median,text_No_of_words_median,characterID_count,clean_text_<lambda>
0,4,34.0,7.0,94,hope let go okay gonna need learn lie like fe...
1,10,22.0,4.0,3,sent em never pegged gigglepuss fan little pre...
2,10,24.0,5.0,9,absolutely daughter went prom great time honey...
3,7,23.0,4.0,31,died sleep three day ago paper tom dead calli...
4,10,139.0,29.0,9,yeah gonna right back tomorrow tonight gonna s...
...,...,...,...,...,...
8741,10,31.0,6.0,5,open door coming aboard said son purpose mexi...
8742,10,39.0,7.5,10,vamanos yeah follow u hardly used got drug dea...
8743,1,36.0,6.0,90,meant son daughter oh daughter bathroom vacati...
8744,4,20.0,4.5,44,everybody go home going em swear god father ch...
8745,10,91.5,17.0,4,safe assume death count involved loss life law...

In [54]:
Y=pd.DataFrame(train['gender'])

In [55]:
Y

      gender
0          0
1          0
2          0
3          0
4          0
...      ...
8741       0
8742       0
8743       1
8744       0
8745       0

[8746 rows x 1 columns]

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3)

In [57]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(6122, 5)
(6122, 1)
(2624, 5)
(2624, 1)

What is Normalization?
Normalization is a scaling technique in which values are shifted and rescaled so that they end up ranging between 0 and 1. It is also known as Min-Max scaling.

What is Standardization?
Standardization is another scaling technique where the values are centered around the mean with a unit standard deviation. This means that the mean of the attribute becomes zero and the resultant distribution has a unit standard deviation.

You can always start by fitting your model to raw, normalized and standardized data and compare the performance for best results.

In [58]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.pipeline import FeatureUnion, Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer, TfidfVectorizer

In [59]:
#for training (fitting) and trasforming (normalization/statdardization) the data
class Converter(BaseEstimator, TransformerMixin):
    def fit(self, x, y=None):
        return self

    def transform(self, data_frame):
        return data_frame.values.ravel()

In [60]:
#numerical features are collected in pipeline and applied scaling
numeric_features = ['position_in_credits', 'text_utter_length_median', 'text_No_of_words_median', 'characterID_count']

numeric_transformer = Pipeline(steps=[('scaler', MinMaxScaler())])

In [61]:
#string feature is collected in pipeline and applied scaling
vectorizer_features = ['clean_text_<lambda>']
vectorizer_transformer = Pipeline(steps=[('con', Converter()),('tf', TfidfVectorizer())])

In [62]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('vec', vectorizer_transformer, vectorizer_features)
    ])

In [63]:
#importing LOGISTIC REGRESSION CLASSIFIER
from sklearn.linear_model import LogisticRegression
log_clf = Pipeline(steps=[('preprocessor', preprocessor),('classifier', LogisticRegression())])

In [64]:
#actual training of classifier
log_clf.fit(X_train, y_train)

C:\Users\Pankaj_Kasar\.conda\envs\dl\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  Pipeline(memory=None,
                                                           steps=[('scaler',
                                                                   MinMaxScaler(copy=True,
                                                                                feature_range=(0,
                                                                                               1)))],
                                                           verbose=False),
                                                  ['position_in_credits',
                                                   'text_utter_length_median',
                                                   'text_No_of_words_median',
                                                   'characterID_coun...
                                                                                   use_idf=True,
                                                                                   vocabulary=None))],
                                                           verbose=False),
                                                  ['clean_text_<lambda>'])],
                                   verbose=False)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [65]:
#predicting on test input data
results=log_clf.predict(X_test)

In [66]:
results

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [67]:
results.shape

(2624,)

In [68]:
#measuring the performance of classifier by some different performance measure
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score

In [69]:
accuracy_score(y_test, results)

0.8399390243902439

In [70]:
precision_score(y_test, results)

0.7648578811369509

In [71]:
recall_score(y_test, results)

0.4736

In [72]:
confusion_matrix(y_test, results)

array([[1908,   91],
       [ 329,  296]], dtype=int64)

In [73]:
f1_score(y_test, results)

0.5849802371541503